/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

section{
    padding: 2%;
    margin: 2%;
}

/*Header Layout*/

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container{
    display: flex;
    position: static;
    align-items: center;
}

nav{
    position: absolute;
    right: 5%;
}

ul{
    list-style-type: none;  
}

li{
    display: inline-block;
}

/*Header Styles*/
header{
    background-color: white;
}

header h1{
    font-size: 18px;
}

header a{
    font-size: 18px;
}

nav a{
    color: #6b7280;
}

nav a:hover{
    color: #5A67D8;
}
/*Hero layout*/

.overview-hero .container{
    display: flex;
    position: relative;

    align-items: center;
}

.overview-hero-image img{
    width: 96%;
    height: auto;
}

/*Hero Styles*/
.overview-hero{
    background-color: #E2E8F0;
}

/*Learn About*/

.card img{
    width: 80%;
    height: auto;
}

.cards{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
    grid-gap: 10%;
}

.cards div:nth-child(1){
    grid-column: 1;    
    grid-row: 1;
}

.cards div:nth-child(2){
    grid-column: 2;
    grid-row: 1;
}

.cards div:nth-child(3){
    grid-column: 3;
    grid-row: 1;
}

/*Testing Container*/
.testing .container{
    display: flex;
    position: static;

    align-items: center;
}

.testing-desciption{
    width: 60%;
}

.cta{
    margin-left: 20%;
}

/*Recent Stories*/
article{
    display: flex;
    margin-bottom: 5%;
}

article div{
    padding-left: 5%;
}

article img{
    width: 40%;
    height: 40%;
}

/*Newsletter*/
.newsletter .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
}